absl-py==2.0.0
abstract_singleton==1.0.1
accelerate==1.0.1
aiofiles==0.8.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.37.1
anyio==3.6.1
appdirs==1.4.4
appnope @ file:///Users/ktietz/demo/mc3/conda-bld/appnope_1629146036738/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
asgiref==3.5.2
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==25.3.0
audioread==3.0.0
Authlib==1.0.1
auto_gpt_plugin_template==0.0.3
autoflake==2.1.1
autopep8==2.0.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==23.3.0
bleach==5.0.0
blinker==1.8.2
blis==0.7.9
bokeh==3.1.1
boto3==1.37.38
botocore==1.37.38
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-q_dytog6/bottleneck_1648041541248/work
branca==0.6.0
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
chardet==5.0.0
charset-normalizer==2.1.0
clean-text==0.6.0
click==8.1.3
cloudpickle==3.1.1
colorama==0.4.5
compressed-tensors==0.6.0
conda==4.13.0
conda-package-handling @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-4sc96bd_/conda-package-handling_1649105290173/work
confection==0.0.3
contourpy==1.1.1
cookiecutter==1.7.3
coverage==7.2.5
cryptocode==0.1
cryptography==37.0.4
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-leaflet==0.1.23
dash-table==5.0.0
dataclasses-json==0.6.7
datasets==3.1.0
debugpy @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/debugpy_1637092214173/work
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.1
distlib==0.3.4
distro==1.8.0
Django==4.1.2
django-embed-video==1.4.7
dnspython==2.2.1
docker==6.1.1
duckduckgo-search==2.9.3
easy-thumbnails==2.8.3
EasyProcess==1.1
editdistpy==0.1.3
einops==0.8.1
email_validator==2.2.0
emoji==1.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-jb01gaox/entrypoints_1650293758411/work
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.112.4
fastjsonschema==2.15.3
ffmpeg-python==0.2.0
ffprobe==0.5
filelock==3.16.1
flake8==6.0.0
Flask==3.0.2
Flask-Cors==3.0.10
flask-ngrok==0.0.25
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.33.3
fpdf==1.7.2
frozendict==2.4.0
frozenlist==1.3.3
fsspec==2023.9.0
ftfy==6.1.1
future==0.18.2
gast==0.4.0
geobuf==1.1.1
geographiclib==1.52
geopy==2.2.0
gguf==0.10.0
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.27
google-ai-generativelanguage==0.1.0
google-api-core==2.19.0
google-api-python-client==2.69.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.7.1
google-cloud==0.34.0
google-cloud-bigquery==3.23.1
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-generativeai==0.1.0rc1
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.56.2
googlemaps==4.6.0
googletrans==3.0.0
GPUtil==1.4.0
greenlet==3.1.1
grpcio==1.59.0
grpcio-status==1.48.2
gTTS==2.3.1
h11==0.12.0
h2==3.2.0
h5py==3.10.0
haversine==2.8.1
hpack==3.0.0
hstspreload==2022.12.1
html5lib==1.1
httpcore==0.15.0
httplib2==0.20.4
httptools==0.4.0
httpx==0.23.0
huepy==1.2.1
huggingface-hub==0.26.1
humanize==4.8.0
hyperframe==5.2.0
identify==2.5.24
idna==3.3
imageio==2.23.0
imageio-ffmpeg==0.4.7
imbalanced-learn==0.12.3
importlib-metadata==4.11.4
importlib_resources==6.4.5
iniconfig==1.1.1
instabot==0.117.0
interegular==0.3.3
ipykernel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-4yxj69n0/ipykernel_1647009452031/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b42ce53b-9348-4ffe-874e-ee7a7d34be58zn88hkt_/croots/recipe/ipython_1651600151534/work
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.12.0
itsdangerous==2.1.2
jedi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-f1t6hma6/jedi_1644315882177/work
jellyfish==1.0.0
Jinja2==3.1.2
jinja2-time==0.2.0
jiter==0.5.0
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1647416812516/work
joblib==1.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_37f0874a-8189-43c8-984a-7cc5aa7f2a00vekz677y/croots/recipe/jupyter_client_1650622203010/work
jupyter-console==6.4.3
jupyter-core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5839c60e-0f30-4a99-b0b9-2b009ec5fec40y9fo9ym/croots/recipe/jupyter_core_1651671230982/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
jwt==1.3.1
kaleido==0.2.1
keras==2.13.1
kiwisolver==1.4.2
langchain==0.2.17
langchain-anthropic==0.1.23
langchain-community==0.2.19
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langcodes==3.3.0
langdetect==1.0.7
langsmith==0.1.147
lark==1.2.2
lazy_loader==0.3
libclang==16.0.6
libretranslatepy==2.1.1
librosa==0.8.1
liwc==0.5.0
llvmlite==0.38.1
lm-format-enforcer==0.10.6
loguru==0.7.0
lxml==4.9.1
manage-fastapi==1.1.1
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.22.0
matplotlib==3.5.2
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mistral_common==1.5.4
mistune==0.8.4
mkdocs==1.4.3
ml-helpers @ file:///Users/omarhammad/Documents/code_local/sweater_retention/helping%20
mock==5.0.0
more-itertools==10.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.4
msgspec==0.18.6
multidict==6.0.3
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.9
mutagen==1.47.0
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-xymukih3/nest-asyncio_1649931465456/work
networkx==3.1
neuspell==1.0.0
nltk==3.7
nodeenv==1.7.0
norbert==0.2.1
notebook==6.4.11
numba==0.55.2
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-ny1mxojk/numexpr_1640704752206/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ba5c3eaa-be93-4f42-ae24-fa720a3c6627m_sp7nbj/croots/recipe/numpy_and_numpy_base_1652801688716/work
nvidia-ml-py==12.570.86
oauth2client==4.1.3
oauthlib==3.2.0
openai==1.47.1
openai-whisper==20230918
openapi-python-client==0.13.4
opencv-python-headless==4.11.0.86
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.10.13
ortools==9.8.3296
outcome==1.2.0
outlines==0.0.46
packaging==24.2
pandas==2.0.3
pandas-stubs==1.5.2.221124
pandocfilters==1.5.0
paperclip==2.6.1
paramiko==2.12.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partial-json-parser==0.2.1.1.post5
pathspec==0.11.1
pathy==0.10.1
patsy==0.5.3
peewee==3.17.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.4.0
pinecone-client==2.2.1
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
playsound==1.2.2
playwright==1.48.0
plotly==5.10.0
pluggy==1.0.0
plyer==2.1.0
polyline==1.4.0
pooch==1.7.0
poyo==0.5.0
praisonAI==0.0.5
praisonaiagents==0.0.67
pre-commit==3.3.1
preshed==3.0.8
proglog==0.1.10
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
prompt-toolkit==3.0.30
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.5
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
py-quantaq==1.1.0
py-stringmatching==0.4.2
py-translate==1.0.3
pyairports==2.1.1
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pycodestyle==2.10.0
pycosat==0.6.3
pycountry==24.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.15.0
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pyee==12.0.0
pyflakes==3.0.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pygsheet==0.1.19b25
pygsheets==2.0.5
PyJWT==2.4.0
pymdown-extensions==9.11
pymongo==4.2.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
PyNaCl==1.5.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyPDF2==3.0.1
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.18.1
pysbd==0.3.4
PyScreeze==1.0.1
PySocks @ file:///Users/ktietz/Code/oss/ci_pkgs/pysocks_1626781349491/work
pytest==7.2.0
pytest-asyncio==0.21.0
pytest-benchmark==4.0.0
pytest-cov==4.0.0
pytest-integration==0.2.3
pytest-mock==3.10.0
pytest-recording==0.12.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.20.0
python-http-client==3.3.7
python-magic==0.4.27
python-multipart==0.0.5
python-slugify==6.1.2
pytorch-pretrained-bert==0.6.2
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
PyVirtualDisplay==3.0
pyvis==0.3.2
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/pyzmq_1638447141825/work
qtconsole==5.3.0
QtPy==2.1.0
questionary==1.10.0
radian==0.6.4
ray==2.10.0
rchitect==0.3.40
readability-lxml==0.8.1
redis==4.5.5
referencing==0.35.1
regex==2022.6.2
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resampy==0.4.2
responses==0.22.0
rfc3986==1.5.0
rich==14.0.0
rpds-py==0.20.1
rsa==4.8
ruamel-yaml-conda @ file:///Users/ktietz/demo/mc3/conda-bld/ruamel_yaml_1629464769899/work
rubicon-objc==0.4.9
s3transfer==0.11.5
safetensors==0.4.5
schedule==1.1.0
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.12.1
segtok==1.5.11
selenium==4.1.4
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.2.0
sheet2api==0.1.3
shellingham==1.5.0.post1
six @ file:///tmp/build/80754af9/six_1644875935023/work
slack-cleaner2==3.2.0
slack-sdk==3.18.1
smart-open==6.2.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.6
spacy==3.5.2
spacy-langdetect==0.1.2
spacy-legacy==3.0.12
spacy-loggers==1.0.3
spleeter==2.3.2
SQLAlchemy==1.4.40
sqlparse==0.4.3
srsly==2.4.5
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.38.6
statsmodels==0.13.2
sympy==1.13.3
symspellpy==6.7.7
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.3.0
terminado==0.15.0
text-unidecode==1.3
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.1.1
tokenizers==0.20.1
toml==0.10.2
tomli==2.0.1
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado @ file:///Users/ktietz/demo/mc3/conda-bld/tornado_1628698929452/work
tqdm==4.67.1
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
transformers==4.45.2
translate==3.6.1
trio==0.22.0
trio-websocket==0.9.2
tweepy==4.12.1
twilio==7.16.1
typer==0.4.2
types-pytz==2022.6.0.1
types-toml==0.10.8.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.17
utils==1.0.1
uv==0.7.10
uvicorn==0.18.2
uvloop==0.21.0
validators==0.20.0
vcrpy==4.2.1
# Editable install with no version control (vid2cleantxt==0.0.1)
-e /Users/omarhammad/Documents/code_local/usability paper/vid2cleantxt-master
virtualenv==20.14.1
vllm==0.6.3.post1
wasabi==0.10.1
watchdog==3.0.0
watchfiles==0.16.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.12
webdriver-manager==3.8.6
webdriverdownloader==1.1.0.3
webencodings==0.5.1
websocket-client==1.5.1
websockets==13.1
Werkzeug==3.0.6
widgetsnbextension==3.6.0
wordcloud==1.8.2.2
wordninja==2.0.0
wrapt==1.15.0
wsproto==1.2.0
xgboost==2.1.0
xlrd==2.0.1
xxhash==3.5.0
xyzservices==2023.10.0
yake==0.4.8
yarl==1.8.2
yfinance==0.2.37
yt-dlp==2024.10.22
zipp==3.8.0
